:root {
  --text-base: 1.4rem;
  --text-xl: 2.0rem;
  --text-8xl: 10.0rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  color: #333;
  font-size: 62.5%;
}

body {
  font-size: var(--text-base);
}

li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

section {
  scroll-margin-top: 76px;
  padding: 200px 40px;
}

header {
  position: fixed;
  width: 100%;
  padding: 20px;
  background-color: white;
  z-index: 100;
}

nav {
  & ul {
    display: flex;
    justify-content: center;
    gap: 30px;

    & a {
      font-size: var(--text-xl);
    }
  }
}

#gradation {
  & h1 {
    display: block;
    background-color: #c0ff99;
    background-image:
      radial-gradient(at 4% 40%, hsla(76, 100%, 66%, 1) 0px, transparent 50%),
      radial-gradient(at 48% 21%, hsla(305, 100%, 72%, 1) 0px, transparent 50%),
      radial-gradient(at 5% 75%, hsla(273, 100%, 79%, 1) 0px, transparent 50%),
      radial-gradient(at 28% 93%, hsla(157, 100%, 72%, 1) 0px, transparent 50%),
      radial-gradient(at 92% 73%, hsla(167, 100%, 70%, 1) 0px, transparent 50%),
      radial-gradient(at 55% 67%, hsla(89, 100%, 61%, 1) 0px, transparent 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: var(--text-8xl);
    text-align: center;
  }
}

#glass {
  background-image: url(../images/flower.jpg);
  background-size: cover;

  & ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    & li {
      display: block;
      width: calc((100% - 40px) / 3);
      padding: 40px;
      box-sizing: border-box;
      background-color: rgb(100% 100% 100% / 0.5);
      -webkit-backdrop-filter: blur(12px);
      backdrop-filter: blur(12px);
      border-radius: 20px;

      & p {
        margin-top: 30px;
      }
    }
  }
}

#aspect {
  & img {
    display: block;
    width: 500px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    margin: 0 auto;

    @media (width <=1000px) {
      width: 300px;
      aspect-ratio: 1 / 1;
    }
  }
}

#scroll-snap {
  & ul {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 640px;
    margin: 0 auto;

    & li {
      display: block;
      min-width: 480px;
      height: 270px;
      background-color: aquamarine;
      text-align: center;
      line-height: 270px;
      scroll-snap-align: center;
    }
  }
}

#align-content {
  div {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: beige;
    align-content: center;
  }

  p {
    text-align: center;
  }
}

#transition-linear {
  div {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-color: aquamarine;
    border-radius: 50%;
    line-height: 200px;
    text-align: center;
    transition-duration: 0.5s;
    transition-timing-function: linear(
      0, 0.004, 0.016, 0.035, 0.063, 0.098, 0.141 13.6%, 0.25, 0.391, 0.563, 0.765,
      1, 0.891 40.9%, 0.848, 0.813, 0.785, 0.766, 0.754, 0.75, 0.754, 0.766, 0.785,
      0.813, 0.848, 0.891 68.2%, 1 72.7%, 0.973, 0.953, 0.941, 0.938, 0.941, 0.953,
      0.973, 1, 0.988, 0.984, 0.988, 1
    );
  }

  div:hover {
    transform: scale(120%);
  }
}

@property --hue {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

#property-animation {
  div {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-image: linear-gradient(
        60deg,
        hsla(var(--hue) 95% 60% / 100%) 0%,
        hsla(calc(var(--hue) + 36deg) 95% 60% / 0%) 100%
      ),
      linear-gradient(
        180deg,
        hsla(calc(var(--hue) + 72deg) 95% 60% / 100%) 0%,
        hsla(calc(var(--hue) + 108deg) 95% 60% / 0%) 100%
      ),
      linear-gradient(
        240deg,
        hsla(calc(var(--hue) + 144deg) 95% 60% / 100%) 0%,
        hsla(calc(var(--hue) + 180deg) 95% 60% / 0%) 100%
      );
    animation: hueRotation 5s linear infinite;
  }
}

@keyframes hueRotation {
  from {
    --hue: 0deg;
  }
  to {
    --hue: -360deg;
  }
}
